[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = "*"
click = "*"
pandas = "*"
pillow = "*"

[dev-packages]
flake8 = "*"
isort = "*"
yapf = "*"
mypy = "*"
flake8-quotes = "*"

[requires]
python_version = "3.8"
